/* Start coding here */

body {
  margin: 0px;
  padding: 0px;
}
* {
  color: #183B56;
  font-family: Arial, Helvetica, sans-serif
}

.header {
  background-color: #92AABD;
  padding: 20px;
  margin-top: 0px;
}

h1 {
  padding-left: 30px;
}

.card {
  background-color: #E4E9ED;
  border: 3px solid #183B56; 
  width: 536px;
  height: 321px;
  margin-left: 30px;
  margin-top: 30px;
  padding-left: 20px;
  padding-top: 10px;
}

p {
  width: 488px;
}
